.ball {
    width: 100px;
    left: 500px;
    bottom: 500px;
    animation-name: ball-animation;
    animation-duration: 15s;
    z-index: 2;
}




@media screen and (max-width: 1900px) {
    .ball {
        width: 70px;
        }
  
}



@media screen and (max-width: 1700px) {
    .ball { 
        width: 50px;
    }
  
}

@media screen and (max-width: 1600px) {
    .ball { 
        left: 400px;
        bottom: 400px;
    }
  
}

@media screen and (max-width: 1400px) {
    .ball { 
        left: 300px;
    }
   
}

@media screen and (max-width: 1300px) {
    .ball { 
        left: 250px;
        bottom: 400px;
    }
   
}

