.floor1 {
    z-index: 3;
    animation-name: floor1-animation;
    animation-duration: 0.5s;
}
.floor2 {
    z-index: 2;
    animation-name: floor2-animation;
    animation-duration: 1s;
}
.floor3 {
    z-index: 1;  
    animation-name: floor3-animation;
    animation-duration: 1.5s;
    
} 

